<div class="c-v-m-wrap mat-elevation-z8">
  <div class="c-v-m-block">

    <div class="c-v-m-box">

      <div class="c-v-m-row">
        <div class="c-v-m-label">Serial number</div>
        <div>{{ client.id }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Surname</div>
        <div>{{ client.surname }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Name</div>
        <div>{{ client.name }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Patronymic</div>
        <div>{{ client.patronymic }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Email</div>
        <div>{{ client.email }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">phone</div>
        <div>{{ client.phone }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Source</div>
        <div>{{ client.source }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Сity</div>
        <div>{{ client.city }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Web Site</div>
        <div>{{ client.webSite }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Has Contract</div>
        <div>{{ client.hasContract }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Description</div>
        <div>{{ client.description }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Message</div>
        <div>{{ client.message }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Interest</div>
        <div>{{ client.interest }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Preference</div>
        <div>{{ client.preference }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">How Found</div>
        <div>{{ client.howFound }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Is Real Client</div>
        <div>{{ client.isRealClient }}</div>
      </div>

      <div class="c-v-m-row">
        <div class="c-v-m-label">Payment</div>
        <div>{{ client.payment }}</div>
      </div>

    </div>

  </div>
</div>