<div class="t-v-m-wrap mat-elevation-z8">
  <div class="t-v-m-block">

    <div class="t-v-m-box">

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Serial number </div>
        <div>{{ task.id }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Subject </div>
        <div>{{ task.subject }}</div>
      </div>
      
      <div class="t-v-m-row">
        <div class="t-v-m-label"> Description </div>
        <div>{{ task.description }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Message </div>
        <div>{{ task.message }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Status </div>
        <div>{{ task.status }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Start Date </div>
        <div>{{ task.startDate }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label">End Date</div>
        <div>{{ task.endDate }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Warning </div>
        <div>{{ task.warning }}</div>
      </div>

      <div class="t-v-m-row">
        <div class="t-v-m-label"> Error </div>
        <div>{{ task.error }}</div>
      </div>
  
    </div>

  </div>
</div>